*.*
!*/
*build*/
*out/*
.*/
!.github
!.gitignore
!*.cpp
!*.c
!*.h
!*.ui
!*.pro
!*.png
!*.qrc
!*.pptx
!*.xlsx
!*.ico
!*.rc
!*.conf
!CMakeLists.txt
!LICENSE
!README.md
!*.json
!*.cmake
!*/color_widgets.pri
!*.yml
!*/Doxyfile.in
!*/refactor.sh
!*.in
!*.hpp
!*glfw3.pc
!*glfw3.lib
